---
import CategoryCard from './CategoryCard.astro';
import type { Category } from '../../types/category';

interface Props {
  categories: Category[];
}

const { categories } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {categories.map(category => (
    <CategoryCard {category} />
  ))}
</div>